<section>

  <h1>Requetes API</h1>

  <h2>Affichage dans un tableau</h2>

  <!-- Affichage dans un tableau -->
  <app-news-table [news]="news" />

  <h2>Affichage avec des cartes</h2>
  <!-- Affichage avec des 'cartes' -->
  <div class="grid grid-cols-4 gap-5">
    @for(n of news ; track n.id){
    <app-news-card [actu]="n" />
    }
  </div>

  <h2>En utilisant le pipe async</h2>
  <app-composant-pipe-async />

  <h2>On peut utiliser le pipe 'json' (en général, utilisé pour des tests) </h2>
  {{news | json}}
</section>