<section>
  <h1>Compteur</h1>

  <p>Sur angular, les variables sont automatiquement surveillées par le framework.
    Cela signifie que si elles sont modifiées, le framework mettra à jour l'affichage côté navigateur automatiquement

    Attention : Sur les dernière versions angular (19/20), il est possible de désactiver ce fonctionnement.
    Lors de la création d'un projet, angularCLI nous pose la question suivante :
    - "Est-ce que vous souhaitez avec un application zoneless ?" -> Si on répond oui, on désactive zoneJs

    En réalité, cette fonctionnalité est lié à 'zoneJs'.

    Si on utilise pas zoneJs, nous devons utiliser les 'signaux'

    Avantage de zoneJs --> Faciliter le dev des développeurs
    Avantage des signaux --> Gain en performance
  </p>

  <p>count: {{count}}</p>

  <button (click)="increment()">+</button>
  <button (click)="decrement()">-</button>
  <button (click)="reset()">Reset</button>

</section>