<nav class="navbar">
  <a routerLink="">Accueil</a>
  <a routerLink="angular-fondamentaux">Fondamentaux</a>
  <a routerLink="composant-parent-et-enfant">Passage de données (parent / enfant)</a>
  <a routerLink="directive-if">Dircective If</a>
  <a routerLink="directive-for">Dircective For</a>
  <a routerLink="bind-des-props-et-des-evenements">bind des props/évènements</a>
  <a routerLink="compteur">Compteur</a>
  <a routerLink="input-avec-ng-model">Input avec ngModel</a>
  <a routerLink="exercice">Exercice</a>
</nav>