<section>
  <h1>Input avec ng-model</h1>

  <input type="text" [(ngModel)]="name" />

  <p>{{name}}</p>

  <button (click)="handleReset()">Vider L'input</button>

  <h1>Exemple métier avec un ngModel (afficher/masquer un élément)</h1>

  <input type="checkbox" [(ngModel)]="checkBoxValue" />

  @if(checkBoxValue){
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat iste accusantium sapiente, at voluptates sint quae
    aut iusto dolore repellendus maiores dolores nulla, cumque, inventore blanditiis earum eos? Incidunt, inventore.
  </p>
  }

  <h1>Utilisation du ngModelChange</h1>
  <p>Quand on souhaite déclencher une action sur changement de valeur de la variable liée à l'input (et donc à chaque
    fois que la value de l'input change) nous pouvons utiliser le <strong>'ngModelChange'</strong>. Celui-ci nous permet
    de bind une fonction qui sera appelée à chaque fois que la valeur de l'input change
  </p>

  <!-- Voir la console pour cet exemple -->
  <input type="text" [(ngModel)]="inputValue" (ngModelChange)="handleChange()" />

</section>