<section>
  <h1>Exercice</h1>

  <pre>
      - Créer un composant 'liste' (ou tableau) pour afficher mes produits

      - Appeler deux fois le composant enfant
        -> Le premier tableau affiche les fruits
        -> Le second affiche les légumes
          (pour trier, on peut utiliser le .filter().
          https://developer.mozilla.org/fr/docs/Web/JavaScript/Reference/Global_Objects/Array/filter)

      - Ajouter une case à cocher pour masquer/afficher les produits qui ne sont plus en stock (propriété 'quantite')
          ( on peut aussi faire le tri avec .filter(). Pour afficher/masquer vous pouvez utiliser un ngModel )
    </pre>

  <!--
      <app-liste [product]="fruits" />
      <app-liste [product]="legumes" />
    -->


</section>